*{
	margin: 0px;
	padding: 0px;
	font-style: helevetica;
	font-size: 12px;
	color: #999999;
	text-align: justify;
}

body{
	background-image: url("../img/fondo.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

header, footer, nav, section, article, figure, figurecaption {
	display: block;
}

header, nav, section, footer {
	width: 80%;
	margin: auto;
	background-color: white;
	border-left: solid 1px #C7C7C7;
	border-right: solid 1px #C7C7C7;
	box-sizing: border-box;
	
}

header{
	font-size: 30px;
	letter-spacing: -1;
	color: #5599BB;
	text-align: center;
	
}

header img{
	width: 100%;
}

nav{
	list-style: none;
	background-color: #5599BB;
}

nav li{
	display: inline-block;
	padding: 10px;
}

nav li a{
	color: white;
	font-size: 14px;
	text-decoration: none;
}

nav li:hover{
	background-color: #084B8A;
	
}

#principal, aside{
	display: inline-block;
    vertical-align: top;
    padding: 1px;
}

section #principal{
    width: 70%;
}

aside{
    width: 29%;
}

#contenido article{
    margin: 2%;
    background-color: #F2F7FC;
    border: solid 1px #5599BB;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #C7C7C7;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

section header{
    width: 100%;
    padding: 5px;
    background: none;
    color: #5599BB;
    font-size: 18px;
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: right;
}

section #principal article footer{
    width: 100%;
    padding 3px;
    color: white;
    text-align: right;
    background-color: #5599BB;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

article section{
    text-align: left;
    width: 100%;
    background-color: #F2F7FC;
    padding-left: 2px;
}

aside header{
    width: 100%;
    padding: 5px;
    background: none;
    color: #999999;
    font-size: 14px;
    text-align: center;
}

aside footer{
    width: 100%;
    padding 3px;
    color: white;
    text-align: right;
    border: solid 1px #999999;
    background-color: #999999;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}



