.cabecera{
    width: 100%;
    height: 70px;
    background-image: url(index.jpg);
    background-size: 100px;
    background-repeat: repeat;
}

.lateral1{
    width: 150px;
    height: 150px;
    border: solid 1px black;
    background-image: url(chrome.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: left top;
}
.lateral2{
    width: 150px;
    height: 150px;
    border: solid 1px black;
    background-image: url(chrome.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
    left: 50px;
    top: 50px;
}
.lateral3{
    width: 150px;
    height: 150px;
    border: solid 1px black;
    background-image: url(chrome.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    text-align: center;
    color: white;
    
}