.miCaja{
    
    width: 100px;
    height: auto;
    
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left:200px;
    margin-right: 200px;
    
    padding: 200px;
    padding-left: 0px;
    
    border: solid 1px black;
    text-align: center;
}

img{
    align-self: center;
    height: 50px;;
    width: auto;
}